.odd{
  background-color: #682F3E;
}
#pad{
  marin-top: 10px;
}

hr{
  margin:1px;

}
.pic{
  border-radius: 50%;
  margin-top: 20px;
}
.notp{
  margin-bottom: 0px;
  margin-top: 0px;

}

.navbar-btn{
  margin: 5px 10px 5px 10px;
}

.imgg{
  max-width:
  max-height: 25%;
}
input,textarea{
  background-color: black;
}
  footer{
    background-color: black;
    color: white;

  }
